.section-title {
  font-size: 3.6rem;
  font-weight: 600;
  @include Montserrat;

  @include mq('sp') {
    font-size: 3rem;
  }
}

.section-button {
  @include Montserrat;
  border: 1px solid #707070;
  background: cl(white);
  text-align: center;
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 0.2em;
  font-weight: 600;
  padding: 16px 0;
  transition: background-color 0.3s ease 0s;

  @include mq('sp') {
    font-size: 1.8rem;
    padding: 13px 0;
  }
}

.bg-layout {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: cl(text);
    display: block;
    top: 149px;
    left: 0;
    bottom: 136px;
    width: calc(980 / 1280 *100%);

    @include mq('sp') {
      width: 100%;
      bottom: 0;
      top: 60px;
    }
  }
}