.comments {
  margin-top: 116px;
  position: relative;
  z-index: index(default);

  @include mq('sp') {
    margin-top: 57px;
  }

  .comments-inner {
    display: flex;
    width: $layout-width-inner;
    max-width: 100%;
    margin: 0 auto;

    @include mq('sp') {
      display: block;
      padding-left: $padding-sp;
      padding-right: $padding-sp;
    }
  }

  .comments-cont {
    width: 55.5%;
    padding: 116px 60px 120px;
    background: cl(white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);

    @include mq('sp') {
      padding: 36px 20px 42px;
      width: 100%;
    }
  }

  .comments-list {
    margin-top: 51px;

    @include mq('sp') {
      margin-top: 35px;
    }
  }

  .comments-item {
    display: flex;
    flex-flow: row-reverse;

    &:nth-child(n + 2) {
      margin-top: 56px;

      @include mq('sp') {
        margin-top: 40px;
      }
    }
  }

  .comments-text {
    flex: 0 1 100%;
    margin-left: 32px;

    @include mq('sp') {
      font-size: 1.4rem;
      margin-left: 20px;
      line-height: (20 / 14);
    }
  }

  .comments-img {
    flex: 0 0 100px;
    margin-top: 4px;

    @include mq('sp') {
      flex: 0 0 60px;
      margin-top: 1px;
    }

    img {
      display: block;
    }
  }

  .comments-picture {
    width: 44.5%;
    margin-top: 80px;

    @include mq('sp') {
      display: none;
    }

    img {
      display: block;
    }
  }
}