.results {
  margin-top: 120px;
  width: calc(50% + 600px);
  max-width: 100%;
  margin-left: auto;
  padding: 56px 0 60px 60px;
  background: cl(text);

  @include mq('sp') {
    margin-top: 60px;
    padding: 35px 0 40px 16px;
  }

  .results-cont {
    margin-top: 55px;

    @include mq('sp') {
      margin-top: 36px;
    }
  }

  .results-list {
    .slick-list {
      padding: 0 300px 0 0 !important;

      @include mq('tab') {
        padding: 0 160px 0 0 !important;
      }

      @include mq('sp') {
        padding: 0 65px 0 0 !important;
      }
    }
  }

  .section-title {
    color: cl(white);

    @include mq('sp') {
      text-align: center;
      padding-right: 16px;
    }
  }

  .results-item {
    margin-right: 40px;

    @include mq('sp') {
      margin-right: 20px;
    }

    a {
      display: flex;
      flex-flow: column-reverse;
      pointer-events: none;
    }
  }

  .results-itemText {
    background: cl(white);
    padding: 11px 16px 20px;

    @include mq('sp') {
      padding: 8px 12px 11px;
    }

    .results-title {
      font-size: 2rem;
      font-weight: bold;

      @include mq('sp') {
        font-size: 1.4rem;
        letter-spacing: 0.00071428571em;
      }
    }

    .results-desc {
      line-height: (24 / 16);
      margin-top: 7px;

      @include mq('sp') {
        font-size: 1.2rem;
        letter-spacing: 0.00083333333em;
        margin-top: 5px;
      }
    }
  }

  .results-itemPicture {

    img {
      display: block;
    }
  }

  .results-button {
    margin-top: 100px;

    @include mq('sp') {
      text-align: center;
      margin-top: 68px;
      padding-right: 16px;
    }

    .results-link {
      width: 289px;
      max-width: 100%;
      background-color: cl(text);
      border: 1px solid cl(white);
      color: cl(white);
      transition: background-color 0.3s ease 0s, color 0.3s ease 0s;

      &:hover {
        color: cl(text);
        background-color: cl(white);
      }

      @include mq('sp') {
        width: 316px;
      }
    }
  }
}